@model TestHarness.Models.Brand
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        BRAND PAGE - @Model.Slug
    </div>
</body>
</html>
