@using TestHarness.Models
@inherits KarbonView<TestHarness.Models.Brand>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        BRAND PAGE - @Model.CurrentPage.Slug - @Model.CurrentPage.Depth
        <ul>
            @foreach (var child in Model.CurrentPage.Children<Product>(x => x.IsVisible()))
            {
                <li>@child.Name</li>
            }
        </ul>
    </div>
</body>
</html>
