@using TestHarness.Models
@inherits KarbonView

<p>Depth: @Model.CurrentPage.Depth</p>

<ul>
    @foreach (var child in Model.CurrentPage.Children<Product>(x => x.IsVisible()))
    {
        <li>@child.Name</li>
    }
</ul>
