@inherits ContentView<TestHarness.Models.Product>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        PRODUCT PAGE - @Model.Content.Name
    </div>
</body>
</html>
