@model Karbon.Cms.Core.Models.Content
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        TEST PAGE - @Model.Data["Title"]
    </div>
</body>
</html>
