@inherits KarbonView
@{
    var root = Model.CurrentPage.Closest(x => x.Depth == 2);
    if(root != null && root.Children(child => child.IsVisible()).Any())
    {
        <nav class="submenu">
            <ul>
                @foreach (var page in root.Children(x => x.IsVisible()))
                {
                    <li><a href="@page.Url()" class="@(page.IsOpen() ? "active" : "")">@page.Name</a></li>
                }
            </ul>
        </nav>
    }
}
